main {
    margin-top: 1rem;    
}

section + section {
    margin-top: 1rem;
}

.of-cards {
    display: grid;
    grid-template-columns: 340px;
    grid-auto-rows: 15rem;
    row-gap: 1rem;
    justify-content: center;

}

.a-card {
    /*dependent on .of-cards*/ 
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-only {
    box-shadow: 0 0;    
}

.a-card h3 {
    margin: 0 0 0.5rem 0.5rem; 
}

.a-card p {
    margin-top: 0.5rem;
}

.a-card button {
    margin: 0.5rem 1rem;
    padding: 1rem;
}

.full-width {
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;    
}

.section-title {
    margin-left: 1rem;
}

.section-copy {
    margin-top: 1rem;
}


@media screen and (min-width: 800px) {
    .of-cards {
        grid-template-columns: repeat(2, 340px);
        column-gap: 1rem;
    }

}